.active-scroll{
    position: fixed;
    z-index: 100;
    background: white;
    top: 0;
}
.container-fluid{
    padding: 0 !important;
}
.top__bar {
    float: left;
    width: 100%;
    padding: 12px 15px 12px 15px;
    background: #28a745;
}

.top__bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top__bar__left{
    float: left;
}

.top__bar__right{
    float: right;
}

.top__bar .top__bar__left li:first-child {
    border-right: 1px solid;
    padding-right: 30px;
}

.top__bar .top__bar__left li i {
    padding-right: 5px;
}

.top__bar .top__bar__left li, .top__bar .top__bar__right li {
    margin-right: 30px;
}

.top__bar ul li {
    display: inline-block;
}

.top__bar li {
    color: #ffffff;
}

.top__bar ul li {
    font-size: 14px;
    float: left;
    margin-right: 10px;
}

.top__bar a, .top__bar button {
    color: #ffffff;
}

.top__bar a:hover, .top__bar a:hover span, .header__currency ul .selector-arrow select:hover , .top__bar button:hover, li.init.dt-sc-toggle:hover {
    color: #ff6600;
}
/*
.top__bar__menu ul li a, .top_çbar ul li span {
    padding-right: 10px;
}*/

.top__bar .top__bar__left li:last-child, .top__bar .top__bar__right li:last-child {
    margin-right: 0px;
}

.top__bar .top__bar__right .header__currency {
    border-left: 1px solid;
    padding-left: 15px;
}

.top__bar ul li:last-child,/* .top__bar li:last-child span,*/ .top__bar li:last-child a {
    border-right: none;
}

.top__bar .top__bar__left li:hover i{
    color: #ff6600;
    text-decoration: none;
}
.top__bar .top__bar__left li:hover .span{
    color: #ff6600;
    text-decoration: none;
}

.header__currency{
    text-align: center;
}

.header__currency ul {
    list-style: none;
    padding: 0;
}

.header__currency ul li.currency {
    position: relative;
}

.header__currency ul li.currency .selector-arrow {
    position: relative;
    float: left;
    width: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.show {
    display: block !important;
}

.header__currency ul .selector-arrow select/*, .header__currency ul li.currency .selector-arrow:after*/ {
    color: #ffffff;
}
/*
.header__currency ul select {
    padding: 0 15px; 
    font-size: 14px;
    float: left;
    padding-top: 5px;
}
*/

.header__currency ul select {
    /* padding: 10px 15px; */
    background: none;
    border: none;
    font-weight: bold;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url(//cdn.shopify.com/s/files/1/0108/7370/0415/t/8/assets/ico-select.svg?v=2311470713116691728);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #fff;
    padding-right: 28px;
    text-indent: 0.01px;
    text-overflow: ''; 
    outline: none;
    cursor: pointer;
} */

.currency option {
    background: #ffffff;
    color: #000000;
} 

/****************************************/
@media screen and (max-width: 767px){
        .top__bar__left {
        display: none;
    }
}

.header{
    width: 100%;
}

.navbar{
    padding: .5rem 10rem !important;
    background: #FFFFFF;
}

@media (max-width: 575.98px) {
    .navbar{
        padding: .5rem 1rem !important;
    }
}

.navbar-nav{
    margin: auto;
}

.right__header ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.right__header ul li{
    display: inline-block;
    color: #28a745 !important;
    margin-right: 30px;
}

.right__header .detail{
    float: right;
    margin-top: -16px;
    margin-left: -7px;
}

.right__header #cartCount{
    background: #28a745;
    color: #ffffff;
    font-size: 12px;
    float: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    position: absolute;
    top: 12px;
    /* right: -3px; */
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}

.right__header ul li:last-child{
    margin-right: 0;
}

.right__header ul li:hover{
    cursor: pointer;
    color: #ff6600 !important;
}
.right__header ul li a i:hover{
    cursor: pointer;
    color: #ff6600 !important;
}

.nav-brand{
    color: #28a745;
    font-weight: bold;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    /* margin-right: 1rem; */
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
}

.navbar .nav-brand:hover{
    color: #ff6600 !important;
    text-decoration: none;
}

.navbar-nav .nav-item{
    margin-right: 30px;
    display: flex;
    
}

.navbar-nav .nav-item:hover .navbar-link{
    color: #ff6600;
    text-decoration: none;
}
.navbar-nav .nav-item:hover .site-nav-dropdown{
   display: block !important;
}
.navbar-nav .nav-item:hover .fas{
    color: #ff6600;
    text-decoration: none;
}

.navbar-nav i:hover{
    cursor: pointer;
}
 
.navbar-link{
    color: #28a745 ;
    font-weight: bold;margin-right: 10px;
}

.navbar-nav .nav-item i{
    margin: auto;
    color: #28a745;
} 
/**********************************************/
/* nav dropdown hover */
 .site-nav-dropdown{
     display: none;
    position: absolute;
    z-index: 999;
    background: #f8f9fa;
    width: 98%;
    padding: 0;
    left: 0;
    right: 0;
    top: 70%;
    margin: auto;
    transition: all .4s ease-in-out;
}
.site-nav-dropdown .container .row{
    margin: auto;
    width: 100%;
}

.site-nav-dropdown .container {
    float: left;
    max-width: 100%;
    width: 100%;
    padding: 25px 40px 40px 40px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%);
    border-radius: 0px;
}
.site-nav-dropdown .container .inner {
    padding-right: 20px;
    display: inline-block;
    vertical-align: top;
}
.site-nav-dropdown .container .inner .div-link{
    background: #28a745;
    border-bottom: 1px solid #ffffff;
     padding: 10px 15px;
}
.site-nav-dropdown .container .inner .div-link > a {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.site-nav-dropdown .container .inner .div-link > a:hover {
    text-decoration: none;
}
.site-nav-dropdown .container .inner .dropdown {
    float: left;
    width: 100%;
}
.site-nav-dropdown .container ul.dropdown {
    display: block;
    position: static;
    padding: 0;
}

.site-nav-dropdown ul {
    left: 100%;
    top: -1px;
    display: none;
    padding-left: 0;
    list-style: none;
}

.site-nav-dropdown li {
    float: left;
    width: 100%;
}
.site-nav-dropdown .container ul.dropdown li a {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dashed #ffffff;
    padding: 5px 0;
    font-size: 14px;
    color: #000000;
    transition: all 0.4s ease-in-out;
} 
.site-nav-dropdown .container ul.dropdown li a:hover{
    color: #28a745;
    text-decoration: none;
}

/* ***************************************** */
.phone-menu{
    position: fixed;
    /* top: 20px; */
    left: 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
    /* text-align: center; */
    z-index: 9999;
    transition: all .3s ease;
    padding: 0;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}
.close-icon {
    color: #28a745;
    font-size: 25px;
    padding: 12px 15px;
    text-align: end;
}
.menu-items ul li{
    padding: 12px 20px;
    border-bottom: 1px solid black;
} 
.menu-items ul{
    list-style: none;
    display: contents;
}
.menu-items ul li i{
    float: right;
    color: #28a745;
} 

.phone-menu .menu-items li:hover a{
    color: #ff6600;
    text-decoration: none;
}
.phone-menu .menu-items li:hover i{
    color: #ff6600;
    text-decoration: none;
}
.phone-menu .close-icon i:hover{
    color: #ff6600;
}
/*****************************************/
/* nav-dropdown mobile */
.nav-dropdown-mobile{
    margin-top: 10px;
    background:#f8f9fa;
    box-shadow: 5px 5px 5px grey;
}
.nav-dropdown-mobile .container-fluid .row .col .div-link{
    background: #28a745;
    border-bottom: 1px solid #ffffff;
     padding: 10px 15px;
}
.nav-dropdown-mobile .container-fluid .row .col .div-link > a {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.nav-dropdown-mobile .container-fluid .row .col ul.dropdown li{
    border-bottom: 0px !important;
}
.nav-dropdown-mobile .container-fluid .row .col ul.dropdown li a{
    color: #000;
}