.border-header{
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.border-header h2{
    font-family:"Yeseva One, cursive";
    color: #28a745;
    font-weight: 700;
    margin-bottom: 30px;
}
.border-header span{
    margin-top: 10px;
    background: url(//cdn.shopify.com/s/files/1/0108/7370/0415/files/leaf.png?v=1580303528);
    background-repeat: no-repeat;
    width: 165px;
    height: 110px;
    text-align: center;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
/*****************************************/
.brand-names{
    margin-top: 30px;
    text-align: center;
}
.brand-logo{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-image: url(https://cdn.shopify.com/s/files/1/0108/7370/0415/files/Untitled-1_medium.png?v=1580300513);
    -webkit-mask-image: url(https://cdn.shopify.com/s/files/1/0108/7370/0415/files/Untitled-1_medium.png?v=1580300513);
    padding: 15px;
}
.brand-names .brand-logo a{
    display: grid;
    text-align: center;
    text-decoration: none;
}
.brand-names .brand-logo a img{
    margin: auto;
}
.brand-names .brand-logo a span{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.brand-names .brand-logo:hover{
    background: #28a745 !important;
}
.brand-names .brand-logo:hover a img{
    filter: invert(1);
}
.brand-names .brand-logo:hover span{
    color: #FFFFFF;
}
/* list of products */
.container-products .list-products{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}
.container-products .list-products .item-product{
    border:1px solid #e5e5e5;
    width:14.7%;
    margin: 10px;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}
@media (max-width: 575.98px) {
    .container-products .list-products .item-product{
        width: 44% ;
    }
    .container-products .list-products .item-product .item-product-body .btn{
        width: unset !important;
    }
}
.container-products .list-products .item-product:hover{
    border:1px solid #28a745;
}
.container-products .list-products .item-product .item-product-header img{
    width: 100%;
    height: 100%;
}
.container-products .list-products .item-product .item-product-body{
    display: grid;
    text-align: center;
}
.container-products .list-products .item-product .item-product-body a:first-child{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    margin-bottom: 12px;
    transition: all .4s ease-in-out;
}
.container-products .list-products .item-product:hover .item-product-body a:first-child{
   color: #28a745;
}
.container-products .list-products .item-product .item-product-body span{
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
    color: #28a745;
    margin-bottom: 12px;
}
.container-products .list-products .item-product .item-product-body .btn{
    background: #28a745;
    border-radius: 30px;
    width: 60%;
    margin: auto;
    margin-bottom: 12px;
    margin-top: 12px;
    color: #FFFFFF;
}
.container-products .list-products .item-product .item-product-body .btn:hover{
    background: #ff6600;
}

/* Success modal */
.modale{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    transition: all .4s ease-in-out;
}

.success-modal .overlay{
    background: rgba(3, 13, 29, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;

}

.success-modal .content{
    padding: 40px;
    background-color: #ffffff;
    bottom: auto;
    left: 0;
    position: fixed;
    right: 0;
    top: 26% !important;
    width: 900px;
    border-radius: 10px;
    float: left;
    /* -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
    margin: auto;
    z-index: 999;
    
}

.success-modal .content .modal-left{
    float: left;
    padding-right: 15px;
    width: 40%;
}

.success-modal .content .modal-left .added-to-cart.info{
    font-size: 16px;
    text-align: left;
    font-weight: normal;
}

.success-modal .content .modal-left .product-image{
    width: 25%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
}

.success-modal .content .modal-left .cart-desc{
    float: left;
    width: 65%;
    margin-left: 30px;
}

.success-modal .content .modal-left .cart-desc .product-title{
    margin-bottom: 7px;
    font-size: 22px;
    font-family: sans-serif;;
    font-weight: 700;
}

.success-modal .content .modal-left .cart-desc .price{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
}

.success-modal .content .modal-right{
    float: left;
    width: 60%;
    padding: 0px;
    text-align: center;
}

.success-modal .content .modal-right .btn{
    padding: 12px 20px;
}

.success-modal .content .modal-right .cartTotal{
    float: left;
    width: 100%;
    font-size: 30px;
    margin-bottom: 70px;
}

.success-modal .content .modal-right .continue-shopping{
    margin-right: 12px;
    border-radius: 30px;
    line-height: normal;
    z-index: 1;
    overflow: hidden;
    background: #28a745;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    position: relative;
}

.success-modal .content .modal-right .continue-shopping:hover{
    background: #ff6600;
    color: #ffffff;
}

.success-modal .content .modal-right .continue-shopping a{
    color: #ffffff;
    text-decoration: none;
}

.success-modal .content .modal-right .success-message{
    padding: 0;
    display: inline-block;
    line-height: 40px;
    color: #191919;
    margin-bottom: 20px;
    font-size: 12px;
}

.success-modal .content .modal-right .success-message a:hover{
    color: #ffffff;
    background: #ff6600;
}

.success-modal .content .modal-right .success-message a{
    line-height: normal;
    text-transform: capitalize;
    margin-right: 12px;
    border-radius: 30px;
    line-height: normal;
    z-index: 1;
    overflow: hidden;
    background: #28a745;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

.success-modal .content .modal-right .success-message a i{
    margin-right: 12px;
}

.success-modal .content .close-modal{
    float: right;
    top: 0;
    position: absolute;
    right: -5px !important;
    padding: 0;
    width: 27px;
    height: 27px;
    line-height: 27px;
}

.success-modal .content .close-modal:hover i{
    color: #28a745;
    cursor: pointer;
}

.success-modal .content .close-modal i{
    font-size: 20px;
    color: #000000;
    transition: all .4s ease-in-out;
    
}

/* error-modal */
.error-modal{
    left: 0;
    padding: 10px 20px;
    top: 50%;
    width: 100%;
    text-align: center;
}

.modal-inner{
    color: #fff;
    background: #191919;
    display: inline-block;
    padding: 10px 20px;
    bottom: auto;
    left: 0;
    position: fixed;
    right: 0;
    top: 50% !important;
    width: 900px;
    border-radius: 10px;
    float: left;
    /* -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); */
    margin: auto;
    z-index: 999;
}

/* loading-modal */
.modalload{
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    outline: 0;
}

.loading-modal{
    background: url(https://cdn.shopify.com/s/files/1/0108/7370/0415/t/8/assets/loading.gif) center 14px no-repeat white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    top: 50% !important;
    left: 50% !important;
    width: 56px;
    height: 56px;
    margin-left: -28px;
    margin-top: -28px;
    padding: 0;
    /* text-indent: -999em; */
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border-radius: 3px;
    display: block;
    text-align: center;
}